= form_for @user, :remote => true do |f|
  = f.label :username
  = f.text_field :username
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  =submit_tag "Sign Up", :class => "button radius small success"
